.em-calculator {
	display: inline-block;
	padding: 2rem;
	border: dashed 2px #ccc;
	/*background-color: #fef;*/
}

.em-calculator-container {
	margin-bottom: 2rem;
	text-align: right;
	user-select: none;
}

.em-calculator-title {
	font-size: 2rem;
	font-weight: 700;
}

.em-calculator-result-container {
	font-size: 2rem;
    margin-bottom: 0;
}


.em-calculator-result-wrapper {
    /*background-color: #efe;*/
	/*padding: 0 1rem;*/
    font-size: 4rem;
    width: 20rem;
}

.em-calculator-result {
    display: block;
    width: 20rem;
    /*margin-left: 2rem;*/
	background-color: transparent;
	border: none;
	font-size: 3rem;
	text-align: right;
	user-select: none;
    /*color: black;*/
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;*/
}

.em-calculator label {
	display: block;
	font-weight: 700;
}

.em-calculator-input {
    /*display: block;*/
	width: 20rem;
	background-color: transparent;
	border: none;
	font-size: 2rem;
	text-align: right;
}

.em-calculator-range {
	width: 100%;
}

.em-calculator-input:focus {
	outline: none;
}

.em-calculator-range {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    /*width: 100%;  Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;

    border: solid 2px #333;
    border-radius: 20px;
    /*padding: 0;*/
    /*flex: 1;*/
    /*order: 3;*/
}

.em-calculator-range:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.em-calculator-range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border: solid 2px #333;
    border-radius: 50%;
    background: #2a2; 
    /*background: #4CAF50;  Green background */
    cursor: pointer; /* Cursor on hover */
    z-index: 10;
}

.em-calculator-range::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
    z-index: 10;
}

/* shows the input number buttons */
#em-calculator-interest::-webkit-inner-spin-button,
#em-calculator-interest::-webkit-outer-spin-button {  
    text-align: right;
    /*position: relative;*/
    /*top: 0;*/
    /*right: 50px;*/
    opacity: 0.4;
    /*fill: red;*/
    /*background: red;*/
}

.em-calc-leftarrow-svg,
.em-calc-rightarrow-svg {
    display: block;
}

.em-calc-button-right,
.em-calc-button-left {
    /*height: 1.5rem;*/
    background-color: transparent;
    padding: 0;
    border: solid 1px #ccc;
}